---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

import {frontmatter as PageSettings, Content as PageContent} from '../components/pages/404.md';
---

<BaseLayout id="base-layout" title={PageSettings.title + " | RybaNata"} description={PageSettings.description} >

	<div class="stack gap-20 lg:gap-48">

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<PageContent />
			</section>
		</main>
	</div>
</BaseLayout>