---
import { getCollection } from 'astro:content';
import {frontmatter as PageSettings, Content as PageContent} from '../components/pages/illustrations.md';
---

<BaseLayout id="base-layout" title={PageSettings.title + " | RybaNata"} description={PageSettings.description} >

	<div class="stack gap-20 lg:gap-48">

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<PageContent />

				<!-- <div class="bg-gradient-to-t from-black via-transparent to-transparent opacity-20 absolute inset-0 pointer-events-none group-hover:opacity-0 transition duration-200" /> -->
				<br><br>
				
				<Gallery gallery_dir={PageSettings.gallery_dir} />		
		</main>
	</div>
</BaseLayout>